<h1>SynapticQBank 관리자</h1>

<table>
	<tr>
		<td>문제 ID</td>
		<td>과목</td>
		<td>문제 요약</td>
		<td>관련 토픽</td>
		<th colspan="2"></th>
	</tr>

<% @articles.each do |article| %>
	<tr>
		<td><%= article.id %></td> 
		<td><%= article.title %></td>
		<td><%= article.text %></td>
		<td><%= link_to article.topic, "http://www.synapticmedicine.com/index.php/" + article.topic.tr(" ","_") %></td>
		<td><%= link_to '보기', article_path(article) %></td>
		<td><%= link_to '수정', edit_article_path(article) %></td>
		<td><%= link_to '삭제', article_path(article), method: :delete, data: {confirm: '정말 삭제하시겠습니까?'} %></td>
		<td><%= link_to '풀어보기', article_path(article) %></td>
	</tr>
<% end %>
</table>
<br>
<%= link_to '새 문제 추가하기', new_article_path %>